* {
    font-family: Arial, Helvetica, sans-serif;
    color:#e31010;
    --background:white;
}
ion-toolbar{
    --background:black;
  }
ion-card{
    background: black;
  }
ion-card-header{
    background: black;
  }
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    align-items: center;
}