<ion-content>
  <div class="container-prod1">
    <br>
    <center>
      <img  src="../assets/products/laptop1.webp">
      <h2>₱47,495.00<br>
        Lenovo IdeaPad Slim 3i 82RK0047PH +OFFC H&S</h2>
      <img  src="../assets/products/laptop2.webp">
      <h2>₱45,999.00<br>
        Acer A515-57-57EZ Safari Gold+OFFC H&S</h2>
      <img  src="../assets/products/laptop3.webp">
      <h2>₱149,999.00<br> 
        ASUS Zephyrus G14 Anime Matrix GA402RK-L8141WS Eclipse Gray +OFFC H&S</h2>
      <img  src="../assets/products/laptop4.webp">
      <h2>₱39,999.00<br>
        Acer SF314-43-R06N Pure Silver +OFFC H&S</h2>
      <img  src="../assets/products/laptop5.webp">
      <h2>₱139,999.00<br>
        ASUS G513RW-HF033W</h2>
      <img  src="../assets/products/laptop6.webp">
      <h2>₱44,999.00<br>
        Lenovo IdeaPad 3 82KU01ATPH+OFFC H&S</h2>
    </center>
</div>

</ion-content>