*{
    height: 250px;
    width: 100%;
    --background:white;
}
.container-prod1{
    img{
        height: 100px;
        width: 100px;
        border-radius: 50px;
        border: 2px solid black;
    }
}
