<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/logo.png">
    <ion-card-header>
      <ion-card-subtitle><h2>Contacts</h2></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <center>Mobile Number: 09123456789 <br>
              Email: qajivergara@tip.edu.ph <br>
              Facebook: fb.com/dropzone <br>
              Twitter: twitter.com/dropzone <br>
      </center>
    </ion-card-content>
  </ion-card>
</ion-content>
