<ion-content>
  <div class="container-prod1">
    <br>
    <center>
      <img  src="../assets/products/peri1.webp">
      <h2>₱3,450.00<br>
        ASUS Strix Carry Mouse</h2>
      <img  src="../assets/products/peri2.webp">
      <h2>1,650.00<br>
        ASUS Strix Impact P303</h2>
      <img  src="../assets/products/peri3.webp">
      <h2>₱1,050.00<br>
        Logitech M545 Black Wireless Mouse</h2>
      <img  src="../assets/products/peri4.webp">
      <h2>₱580.00<br>
        Logitech M221 Offwhite Silent Wireless Mouse</h2>
      <img  src="../assets/products/peri5.webp">
      <h2>₱1,790.00<br>
        Logitech K380 Off-White</h2>
      <img  src="../assets/products/peri6.webp">
      <h2>₱850.00<br>
        A4TECH FG1112 & 2.4G Wireless Keyboard</h2>
      <img  src="../assets/products/peri7.webp">
      <h2>₱7,890.00<br>
        ROG Falchion NX Blue</h2>
      <img  src="../assets/products/peri8.webp">
      <h2>₱1,995.00<br>
        RAPOO V560 Backlit Mechanical Gaming Keyboard</h2>
    </center>
</div>

</ion-content>