<ion-content>
  <div class="container-prod1">
    <br>
    <center>
      <img  src="../assets/products/pc1.webp">
      <h2>₱129,995.00<br>
        MSI MPG Trident AS 11TD-1856PH</h2>
      <img  src="../assets/products/pc2.webp">
      <h2>₱139,999.00<br>
        Acer PO3-630 DG.E2CSP.005</h2>
      <img  src="../assets/products/pc3.webp">
      <h2>₱149,995.00<br>
        Lenovo Legion Tower 7i - 34IMZ5 90Q9005NPP</h2>
      <img  src="../assets/products/monitor1.webp">
      <h2>₱37,290.00<br>
        Acer C24 1650 DQ.BFTSP.001 H&S</h2>
      <img  src="../assets/products/monitor2.webp">
      <h2>₱47,995.00<br>
        ASUS V241EAK-WA007TS</h2>
      <img  src="../assets/products/monitor3.webp">
      <h2>₱43,995.00<br>
        Lenovo F0G00052PH</h2>
    </center>
</div>

</ion-content>