* {
    font-family: Arial, Helvetica, sans-serif;
    color:#e31010;
    --background:white;
}
ion-toolbar{
    --background:black;
}
ion-list{
    --background: cyan;
}
ion-card{
    --background: black;
}
ion-card-header{
    --background: black;
}