<ion-header>
	<ion-toolbar>
	  <ion-title>Our History</ion-title>
	  <ion-buttons slot="start">
		<ion-menu-button menu="main-menu"></ion-menu-button>
	  </ion-buttons>
	</ion-toolbar>
  </ion-header>
<ion-content>
	<ion-card>
		<img src="assets/logo.png">
		<ion-card-header>
			<ion-card-subtitle>Company History</ion-card-subtitle>
			<ion-card-title>Charged UP</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Hi, We're Dropzone.<br>
			Dropzone is a computer retail business founded on the values of convenience, accessibility, and excellent customer service. Believe it or not, this leader in local technology retail had pretty humble beginnings – when five friends who were passionate about tech hunted down secondhand PCs in the Tipid PC online group to resell at decent rates. 
		</ion-card-content>
	</ion-card>
</ion-content>
