<ion-header>
	<ion-toolbar>
	  <ion-title>About Us</ion-title>
	  <ion-buttons slot="start">
		<ion-menu-button menu="main-menu"></ion-menu-button>
	  </ion-buttons>
	</ion-toolbar>
  </ion-header>

<ion-content>
<ion-card>
	<img src="assets/logo.png">
	<ion-card-header>
		<ion-card-subtitle>About the App</ion-card-subtitle>
		<ion-card-title>DropZone PH</ion-card-title>
	</ion-card-header>
	<ion-card-content>
		Dropzone is your go-to store for all things tech. We're here to help you find the gadgets you need for your lifestyle.
	</ion-card-content>
</ion-card>
</ion-content>
